*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(77, 77, 77);
}

#header header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

